<%#
      <form action= "/answer">
      <input type="text" name="Question">
      <input type="submit" value="Ask!">
      </form> %>

<div class="container">
  <h1>Ask your coach Anything!</h1>
  <form action= "/answer">
    <div class="mb-3">
      <label for="">What is your question?</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Question">
    </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
